<!DOCTYPE html>
<html>

<style>
  body {}

  .form-row {
    margin-bottom: 1.5rem;
  }

  .form-label {
    font-weight: 500;
    color: #334155;
    display: flex;
    align-items: center;
  }

  .error-message {
    color: #ef4444;
    font-size: 0.875rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }
</style>

<body>
  <form vdom='vform' class="flex flex-col gap-4">
    <div class="form-row" v-if='!key.disabled' :style="'height:'+key.height" v-for='key in keys'>
      <div class="flex gap-4 h-full items-center">
        <div class="form-label" :style="'width:'+label_width">{{key.label || key.name}}</div>
        <div class="flex-grow">
          <div vsrc='input' class="w-full" :required='key.required' v:value='data[key.name]' :type='key.type'
            :validate='key.validate' :opts='key.opts'></div>
        </div>
      </div>
    </div>
    <div class="error-message">{{errmsg}}</div>
    <div class="flex justify-center mt-6">
      <div vsrc='btn' size='lg' :click='onOk'>创建</div>
    </div>
  </form>
</body>

<script setup>
  label_width = '8rem'
  keys = []
  data = {}
  vform = null
  errmsg = ''
  oncreate = async () => {
  }
  onOk = async () => {
    let valid = vform.checkValidity()
    if (!valid) {
      vform.reportValidity()
      return
    }
    try {
      console.log('提交数据:', data)
      await oncreate(data)
    } catch (error) {
      errmsg = error.message || error || '未知错误'
      console.error(error)
    }
  }
</script>

</html>
